<h1> log in  </h1>

<%= flash[:notice] if flash[:notice] %>

<%= form_for(:user) do |f| %>

  <%= f.label :user_name %>
  <%= f.text_field :user_name %>
  <br>

   <br>
  <%= f.label :password %>
  <%= f.password_field :password %>
   <br>
    <br>

  <%= f.submit "Log In" %>

<% end %>

