<h1>Edit Reservation!</h1>

<%= render partial: "layouts/errors", locals: {object: @reservation} %>

<%= form_for(@reservation) do |f|%>

  <%= f.label :num_tables %>
  <%= f.text_field :num_tables %>

  <%= f.label :checkin_date %>
  <%= f.text_field :checkin_date %>


  <%= f.submit %>

<% end %>