<h1><%=@restaurant.restaurant_name%></h1>
<h2>By: <%=link_to @restaurant.user.username, user_path(@restaurant.user)%> </h2>

<div><%= @restaurant.restaurant_name %></div>


<p> <%=link_to 'Add new reservations', new_restaurant_reservation_path(@restaurant) %></p>


<h4> Reservations </h4>
<% @restaurant.reservations.each do |r| %> <!-- if your don't provide the agument it dose find from the current Url for the reservation if >
                                               so current Url id is 1 it filled id as one reservation eventhough reservation id is 2 -->
    <li><%= link_to "#{r.user.username} reserved #{@restaurant.restaurant_name}", reservation_path(@restaurant, r) %></li>
<% end %>