<!--
<%= form_for(@reviews) do |f| %>
  
  <div>
    <%= f.label :stars  %>
    <%= f.text_field :stars %>
  </div>

  <div>
    <%= f.label :title  %>
    <%= f.text_field :title %>
  </div>

  <div>
    <%= f.label :content  %>
    <%= f.text_field :content %>
  </div>

 <%= f.hidden_field :reservation_id %>

<%= f.submit %>
  -->
  
<% end %>
