<!DOCTYPE html>
<html>
  <head>
    <title>RubyReservationApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
<!-- we use logout here b/c we need it to be accesseble every whare
 logout is a mehtod of get doesn't help about the post so specifay  -->
    <div>
    <% if logged_in?%>
     
      <%= link_to "Logout", logout_path, method:"delete"%> | 
      <%= link_to "Make Reservation", new_reservation_path%>

      <% else %>
      <%=link_to "Sign Up", signup_path %> |
      <%=link_to "Log In", login_path %>
      <% end %>
    </div>

  <body>
    <%= yield %>
  </body>
</html>
